// Libs
+js('/js/libs/jquery.js')
+js('/js/libs/lodash.js')
+js('/js/libs/sightglass.js')
+js('/js/libs/rivets.js')
+js('/js/libs/Scheming.js')
+js('/js/t3.js')
+js('/js/init.js')

// Services
+js('/js/dc-service.js')
+js('/js/template-service.js')
+js('/js/config-service.js')

// Modules (directives/controllers)
+js('/js/FirstController.js')
+js('/js/tab-set.js')
+js('/js/config-ctrl.js')

