color1 = #00132b
color2 = #232d33
color3 = #17384c
color4 = #7f9bd0
color5 = #c5e2ed
color6 = #849696
color7 = #fefffb
color8 = #ffffff
color9 = #ff972c
color10 = #f95900

lower30 = 30%
lower70 = 70%
lower80 = 80%

color6_lower70 = lighten(color6, lower70)
color6_lower80 = lighten(color6, lower80)


@import 'reset.css'
@import 'base.styl'
@import 'tab-set.styl'
@import 'grid.styl'
@import 'header.styl'
@import 'nav.styl'
@import 'config-fields.styl'
@import 'slide-panel.styl'


