body
  background-color white
  font-family Tahoma
  font-size 14px

.module
  border 1px solid #ccc
  display inline-block

  footer, header, .content
    padding 10px
    cursor pointer

  header
    border-bottom 1px solid #ccc
    font-weight bold
    font-size 18px


.container
  width 920px
  margin 0 auto







