// Blue Mountain?

blueMountain()
  color1 = #304269
  color2 = #91BED4
  color3 = #D9E8F5
  color4 = #FFFFFF
  color5 = #F26101

businessProfessional()

highTech()
  color1 = #00132b
  color2 = #232d33
  color3 = #17384c
  color4 = #7f9bd0
  color5 = #c5e2ed
  color6 = #849696
  color7 = #fefffb
  color8 = #ffffff
  color9 = #ff972c
  color10 = #f95900



birdfolioBlues()
  color1 = #2b3a42
  color2 = #3f5765
  color3 = #bdd4de
  color4 = #efefef
  color5 = #ff530d

