.main > header
  background-color color1
  min-height: 100px
  border-bottom 3px solid color9
  margin-bottom 20px
  position fixed
  top 0
  width 100%
  z-index 2

  h1
    color color7
    font-weight bold
    font-size 32px
    line-height 100px

    text-shadow: 2px 2px 3px color2



