tab-set
  display inline-block

  tab
    margin 0
    cursor pointer
    list-style none
    border 1px solid #ccc
    display inline-block
    padding 12px

    &.active
      background-color #eee

  tab-content > div
    padding 12px
    min-height 50px
    border 1px solid #ccc
