include ../mixins/core-mixins.jade
doctype html
html
  head
    title Timez In
    link(rel='shortcut icon' href='/favicon.ico' type='image/x-icon')
    link(rel='icon' href='/favicon.ico' type='image/x-icon')
    link(rel='stylesheet', href='css/all.css')
    include ../partials/scripts.jade
    block scripts
    block styles
  body
    block main

