extends ../layouts/default.jade

block main

  .main(data-module="config-ctrl")
    header
      .container
        | Some tabs

    .container
      .flex-container
        .flex-columns-3
          nav.frame
            ul
              li(rv-each-name="containers")
                | { name }
        .flex-columns-9
          div.group(rv-each-group="groups")
            header
              | { group.name }
            table.fields
              tbody
                tr(rv-each-field="fields")
                  td
                    label { field.display }
                  td
                    input(rv-value='field.value', type='text', rv-on-keypress="keypress")
